<?xml version="1.0"?>

<model>
    <name>Wall 1m min height</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>ROBO_Grupo</name>
        <email>test@gmail.com</email>
    </author>
    
    <description>
        Default wall with 1 meters with min height
    </description>
</model>